html {
    background-color: black;
    font-family: 'Montserrat';
    color: white;
}

.bemvindo {
    width: 100%;
    height: 130px;
    text-align: center;
    font-size: 30px;
    background-image: url(../../img/faixa-bv.png);
    background-size: cover;
}
.bemvindo h1 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bemvindo span {
    font-family: 'Poppins';
    color: var(--laranja);
    padding-left: 10px;
}

.sobre p {
    width: 50%;
    text-align: center;
    margin: 0 auto;
}
.sobre h1 {
    width: 50%;
    text-align: center;
    margin: 20px auto;
    font-family: 'Poppins';
    color: var(--laranja);
    text-transform: uppercase;
    font-size: 18px;
}
.div-results {
    width: 80%;
    height: auto;
    margin: auto;
    background-color: rgb(35, 35, 35);
    border-radius: 3px;
    border: 2px solid var(--laranja);
    display: flex;
    flex-direction: column;
}
.tabela {
    width: auto;
    height: 40px;
    display: grid;
    align-items: center;
    grid-template-columns: 10% 20.56% 14.28% 14.28% 14.28% 14.28% 14.28%;
    background-color: var(--laranja);
    padding-left: 10px;
    color: black;
    font-family: 'Poppins';
}
.feed-container {
    width: auto;
    height: auto;
    padding-left: 10px;
}


.divAnalise {
    width: 100%;
    height: 40px;
    display: grid;
    align-items: center;
    justify-content: start;
    grid-template-columns: 10% 20.56% 14.28% 14.28% 14.28% 14.28% 14.28%;
    font-weight: 600;
}
.divAnalise span {
    font-family: 'Poppins';
}

.loading-div {
    width: 100px;
    margin: auto;
    display: none;
}
.loading-div img {
    height: 100px;
    width: 100px;
}


