@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

:root {
    --laranja: rgb(255, 180, 42);
}

html {
    background-color: black;
    font-family: 'Montserrat';
}

.nav {
    width: 20%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--laranja);
    text-align: center;
    padding: 50px 0;
}
.nav h1 {
    font-family: 'Poppins';
    font-size: 26px;
    margin-top: 30px;
}
.nav p {
    font-weight: bolder;
    padding: 50px 0;
}
.nav span {
    font-family: 'Poppins';
}

.nav-lista {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}
.nav-lista a {
    width: 60%;
    height: auto;
    background-color: black;    
    margin: 10px auto;
    padding: 10px 15px;
    border-radius: 15px;
    color: var(--laranja);
    font-family: 'Poppins';
    cursor: pointer;
    text-decoration: none;
    transition: .3s;
} .nav-lista a:hover {
    transition: .3s;
    background-color: var(--laranja);
    box-shadow: 0 6px 6px black;
}
