#login {
  width: 100%;
  height: 600px;
  margin: 0;
  padding: 100px auto;
  background-image: url(../img/fundo_login.jpg);
  background-size: cover;
  background-position: start;
  display: flex;
  justify-content: center;
  align-items: center;
}

.telas {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: auto;
  margin: 130px auto auto auto;

}

.card_erro {
  display: none;
  position: fixed;
  z-index: 3;
  top: 70px;
  right: 20px;
  border: 2px solid var(--laranja);
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.393);
  backdrop-filter: blur(10px);
  color: var(--laranja);
  font-family: 'Poppins';
  border-radius: 10px;
}

.card_erro #mensagem_erro {
  font-weight: 500;
  font-size: 20px;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}


.btn-login-cadastro {
  width: 100%;
  height: auto;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.393);
  backdrop-filter: blur(10px);
  border: 2px solid rgb(255, 180, 42);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
}

.btn-login-cadastro h1 {
  width: 100%;
  text-align: center;
  padding: 20px;
  transition: .5s;
}

.btn-login-cadastro h1:hover {
  transition: .5s;
}

#btnLogin {
  background-color: var(--laranja);
  color: black;
}

#campoLogin {
  width: 100%;
  height: auto;
  margin: auto;
  padding: 20px 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.393);
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(10px);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 2px solid rgb(255, 180, 42);
  box-shadow: 0 4px 8px black;
  border-style: none solid solid solid;
}
#campoCadastro {
  width: 100%;
  height: auto;
  margin: auto;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.393);
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(10px);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 2px solid rgb(255, 180, 42);
  border-style: none solid solid solid;
  box-shadow: 0 4px 8px black;
  padding: 20px 0;
}


.espaco-login {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 100%;
  margin: 0 auto;
  height: 80px;
  position: relative;
}
.espaco-geral {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;
  height: 80px;
  position: relative;
  margin: 0 auto;
  z-index: 0;
}
.espaco-campos {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 40%;
  height: 80px;
  position: relative;
  margin: 0 auto;
}
.espaco-email {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 84%;
  height: 80px;
  position: relative;
  margin: 0 auto;
}

#campoLogin .espaco-login label {
  width: 65%;
  left: 15%;
}
#campoCadastro .espaco-campos label {
  width: 100%;
  left: 5%;
}
#campoLogin .espaco-login label,
#campoCadastro .espaco-campos label {
  position: absolute;
  top:0;
  padding: 10px ;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
  font-family: 'Montserrat';
  text-align: start;
}

#campoLogin .espaco-login input:focus ~label,
#campoLogin .espaco-login input:valid~label {
  top: -20px;
  left: 15%;
  color: white;
  font-size: 12px;
}
#campoCadastro .espaco-campos input:focus ~label,
#campoCadastro .espaco-campos input:valid~label {
  top: -20px;
  left: 5%;
  color: white;
  font-size: 12px;
}
#campoCadastro .espaco-email label {
  position: absolute;
  top:0;
  left: 16px;
  padding: 10px ;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
  font-family: 'Montserrat';
  text-align: start;
}
#campoCadastro .espaco-email input:focus ~label,
#campoCadastro .espaco-email input:valid~label {
  top: -20px;
  color: white;
  font-size: 12px;
}

#campoLogin input{
  width: 70%;
}
#campoCadastro .espaco-campos input {
  width: 85%;
}
#campoCadastro .espaco-email input {
  width: 90%;
}
#campoLogin input,
#campoCadastro input {
  margin: 0 auto;
  padding: 10px 10px;
  font-size: 16px;
  color: #fff;
  border: none;
  border-bottom: 2px solid var(--laranja);
  outline: none;
  background: transparent;
  transition: .3s;
}

#campoCadastro select {
  width: 100%;
  margin: 0 auto;
  padding: 10px 0;
  font-size: 16px;
  color: white;
  font-family: 'Poppins';
  background-color: var(--laranja);
  border: none;
  border-bottom: 2px solid var(--laranja);
  outline: none;
  background: transparent;
  transition: .3s;
}

#cardErroLEmail,
#cardErroLSenha {
  display: none;
  font-family: 'Poppins';
  font-weight: bolder;
  font-size: 14px;
  color: red;
  width: 70%;
  margin: 0 auto;
  text-align: start;

}





#cardErroNome,
#cardErroNivel,
#cardErroCEmail,
#cardErroCSenha,
#cardErroConfirmarSenha {
  display: none;
  font-family: 'Poppins';
  font-weight: bolder;
  font-size: 14px;
  color: red;
  width: 90%;
  margin: 0 auto;
  text-align: start;
}


#displayLogin {
  display: block;
}

#displayCadastro {
  display: none;
}

.login-box {
  text-align: center;
  width: auto;
  box-sizing: border-box;
  border-radius: 10px;
}

.login-box h2 {
  font-size: 20px;
}

.login-box a {
  position: relative;
  display: inline-block;
  color: var(--laranja);
  font-size: 16px;
  text-decoration: none;
  padding: 15px 20px;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  letter-spacing: 4px;
  font-family: 'Poppins';
}

.login-box a:hover {
  transition: .5s;
  background: var(--laranja);
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px var(--laranja),
    0 0 25px var(--laranja),
    0 0 50px var(--laranja),
    0 0 100px var(--laranja);
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 4px;
  background: linear-gradient(90deg, transparent, var(--laranja));
  animation: btn-anim1 2s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 4px;
  height: 100%;
  background: linear-gradient(180deg, transparent, var(--laranja));
  animation: btn-anim2 2s linear infinite;
  animation-delay: 0.5s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }

  50%,
  100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 4px;
  background: linear-gradient(270deg, transparent, var(--laranja));
  animation: btn-anim3 2s linear infinite;
  animation-delay: 1s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }

  50%,
  100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 4px;
  height: 100%;
  background: linear-gradient(360deg, transparent, var(--laranja));
  animation: btn-anim4 2s linear infinite;
  animation-delay: 1.5s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }

  50%,
  100% {
    bottom: 100%;
  }
}


.tooltip {
  position: absolute;
  display: inline-block;
  top: 30px;
  right: 10px; 
  color: black;
  font-family: 'Poppins';
  padding: 5px 10px;
  border-radius: 50%;
  background-color: var(--laranja);
  cursor: pointer;
  z-index: 1;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 130px;
  background-color: var(--laranja);
  color: black;
  text-align: start;
  padding: 10px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:after {
  content: "";
  position: absolute;
  margin-left: -5px;
  background-color: transparent;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s;
}