#login {
    width: 100%;
    height: 600px;
    margin: 0;
    padding: 100px auto;
    background-image: url(../img/fundo_login.jpg);
    background-size: cover;
    background-position: start;
    display: flex;
    justify-content: center;
    align-items: center;
}

.telas {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: auto;

}

.btn-login-cadastro {
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: row;
} .btn-login-cadastro button {
    width: 50%;
}

#campoLogin {
    width: 100%;
    height: auto;
    margin: auto;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.393);
    display: flex;
    flex-direction: column;
    padding: 20px;
    backdrop-filter: blur( 10px );
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    /* border: 2px solid rgb(255, 180, 42); */
    box-shadow: 0 4px 8px black;
    display: none;
}
.ipt_login {
    padding: 0 0 20px 0;
}
#campoLogin p {
    color: white;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    width: 70%;
    margin: auto;
}
#campoLogin input {
    width: 70%;
    margin: auto;
    padding: 8px 15px;
    border-radius: 10px;
    border: none;
    outline: none;
    border: 2px solid var(--laranja); 
    transition: .3s;
} #campoLogin input:focus {
    transition: .3s;
    transform: scale(1.07);
}
#campoLogin button {
    width: auto;
    font-size: 20px;
    text-decoration: none;
    margin: auto;
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 180, 42);
    padding: 5px 30px;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(0px) ;
    border: 2px solid rgb(255, 180, 42);
    cursor: pointer;
    text-transform: uppercase;    
    transition: .3s;
} #campoLogin button:hover {
    transition: .3s;
    background-color: var(--laranja);
    box-shadow: 0 4px 4px black;
    color: black;
    transform: translateY(-4px) ;
}
#campoLogin a {
    font-family: 'Montserrat';
    color: white;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    margin: 10px auto 0 auto;
}

#cardErroEmail, #cardErroSenha {
    display: none;
    font-family: 'Montserrat';
    font-weight: bolder;
    font-size: 14px;
    color: red;
}

#campoCadastro {
    width: 100%;
    height: auto;
    margin: auto;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.393);
    display: flex;
    flex-direction: column;
    padding: 20px;
    backdrop-filter: blur( 10px );
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    /* border: 2px solid rgb(255, 180, 42); */
    box-shadow: 0 4px 8px black;
    /* display: block; */
}
.ipt-cadastro {
    width: 100%;
}

.espaco-geral {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.espaco-campos {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: auto;
}


#campoCadastro p {
    color: white;
    font-size: 18px;
    font-weight: 600;
    width: 100%;
    margin: auto;
}

#campoCadastro input {
    width: 100%;
    margin: auto;
    padding: 8px ;
    border-radius: 10px;
    border: none;
    outline: none;
    border: 2px solid var(--laranja); 
    transition: .3s;   
}
 
#campoCadastro button {
    width: auto;
    font-size: 20px;
    text-decoration: none;
    margin: auto;
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 180, 42);
    padding: 5px 30px;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(0px) ;
    border: 2px solid rgb(255, 180, 42);
    cursor: pointer;
    text-transform: uppercase;    
    transition: .3s;
} #campoCadastro button:hover {
    transition: .3s;
    background-color: var(--laranja);
    box-shadow: 0 4px 4px black;
    color: black;
}