@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

html {
    background-color: black;

}

h1 { 
    color: rgb(255, 180, 42);
    text-transform: uppercase;
    font-family: 'Poppins';
    font-size: 25px;
}
p {
    padding: 10px 0;
    font-weight: 100px;
    font-family: 'Montserrat';
    line-height: 1.2;
}


.nav {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 70px;
    background-color: rgba(0, 0, 0, 0);
    /* border-bottom: 2px solid rgb(255, 180, 42); */
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.logo {
    width: 40px;
    height: 40px;
    margin: 15px;
}

.nav-lista {
    display: flex;
    flex-direction: row;
}

.nav-lista li a {
    padding: 25px 15px;
    color: rgb(255, 180, 42);
    text-decoration: none;
    font-family: 'Poppins';
    text-transform: uppercase;
    transition: .3s;
    text-shadow: 0 6px 6px black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

.nav-lista li a:hover {
    color: black;
    background-color: rgb(255, 180, 42);
    text-shadow: 0 0px 0px black;
    transition: .3s;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.nav-lista li {
    color: rgb(255, 180, 42);
    margin: auto;
}


#video {
    width: 100%;
    height: 632px;
}

.fundo-video {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

@media (min-aspect-ratio:16/9) {
    .fundo-video {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio:16/9) {
    .fundo-video {
        width: auto;
        height: 100%;
    }
}

.campos-video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.34);
    height: 100%;
    /* padding: 500px auto; */

}

.campos-video h1 {
    width: 30%;
    font-size: 50px;
    margin: auto auto 0 auto;
    color: white;
    text-shadow: 0 6px 10px black;
}

.campos-video a {
    width: auto;
    font-size: 25px;
    text-decoration: none;
    margin: 50px auto auto auto;
    color: white;
    font-family: 'Poppins', sans-serif;
    text-shadow: 0 3px 6px black;
    color: rgb(255, 180, 42);
    padding: 15px;
    border-radius: 50px;
    background-color: rgba(255, 180, 42, 0);
    border: 2px solid rgb(255, 180, 42);
    cursor: pointer;
    transition: .3s;
}

.campos-video a:hover {
    background-color: rgb(255, 180, 42);
    color: black;
    text-shadow: 0 0 0 black;
    transition: .3s;
}

/* Sobre */
#sobre {
    width: 80%;
    height: auto;
    transition: .3s;
    padding: 5% 10%;
}

.space {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 5%;
}

.campos-sobre {
    color: white;
    width: 40%;
    margin: 20px auto;
    text-align: justify;
}

.diagrama-sobre {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.video-sobre {
    margin: 20px auto;
    width: 70%;
}

/* onda1 */
#onda1 {
    width: 100%;
    height: 130px;
} .onda1{
    width: 100%;
    height: 130px;
}

/* crypto */
#crypto {
    width: 80%;
    height: auto;
    transition: .3s;
    padding: 2% 10%;
    background-color: rgb(255, 180, 42);
    margin: auto;
}
.space-crypto {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 5%;
}

.campos-conceito-crypto {
    color: black;
    width: 40%;
    margin: 0px auto;
    text-align: justify;
}

.campos-conceito-crypto h1 {
    padding: 30px 0 0 0;
    text-transform: uppercase;
    font-family: 'Poppins';
    font-size: 25px;
}

.campos-conceito-crypto p {
    padding: 10px 0;
    font-family: 'Quicksand', sans-serif;
    line-height: 1.2;
}


.pizza-crypto {
    box-shadow: 0 1px 8px;
    border-radius: 20px;
}
.space-pizza-crypto {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 5%;
}
.campos-pizza-crypto {
    color: black;
    width: 40%;
    margin: 0 auto 15px auto;
    text-align: justify;
}
.campos-conceito-crypto h1, .campos-pizza-crypto h1, .img-pizza-crypto h1 {
    padding: 30px 0 0 0;
    text-align: start;
    color: black;
}
.campos-pizza-crypto p, .img-pizza-crypto p {
    padding: 10px 0;
    font-family: 'Quicksand', sans-serif;
    line-height: 1.2;
    text-align: start;
}
.space-data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.img-pizza-crypto {
    color: black;
    width: 40%;
    margin: 100px auto;
    text-align: center;
    box-shadow: 0 1px 8px;
    border-radius: 20px;
    padding: 30px 10px 10px 10px;
    background-color: #CF8600;
    height: auto;
}
.img-pizza-crypto img {
    width: 170px;
    height: 100px;
}
.img-pizza-crypto h1 {
    text-align: center;
}.img-pizza-crypto p {
    text-align: center;
    color: rgb(255, 180, 42);
    font-family: 'Poppins';
    text-shadow: 0 2px 10px black;
}
.space-img-pizza-crypto {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 5%;
}


/* cotacao */

#cotacao {
    width: 80%;
    height: auto;
    transition: .3s;
    padding: 2% 10%;
    margin: auto;
}
.space-cotacao {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 5%;
}

.data-cotacao {
    color: white;
    width: 40%;
    margin: 20px auto;
    text-align: justify;
}
.aovivo-cotacao {
    color: white;
    width: 40%;
    margin: 20px auto;
    text-align: center;
}
