#login {
    width: 100%;
    height: 600px;
    margin: 0;
    padding: 100px auto;
    background-image: url(../img/fundo_login.png);
    background-size: cover;
    background-position: start;
}
.campo {
    width: 30%;
    height: auto;
    margin: 150px auto;
    background-color: rgb(0, 0, 0);
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
    filter: opacity(100%);
    border-radius: 20px;
    /* border: 2px solid rgb(255, 180, 42); */
    box-shadow: 0 4px 8px black;
}
.campo p {
    color: white;
    font-size: 20px;
}
.campo input {
    width: 70%;
    margin: auto;
    padding: 8px 15px;
    border-radius: 10px;
    border: none;
    outline: none;
    transition: .3s;
} .campo input:focus {
    transition: .3s;
    transform: scale(1.07);

}
.campo button {
    width: auto;
    font-size: 20px;
    text-decoration: none;
    margin: 20px auto 0 auto;
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 180, 42);
    padding: 5px 30px;
    border-radius: 50px;
    background-color: black;
    border: 2px solid rgb(255, 180, 42);
    cursor: pointer;
    text-transform: uppercase;
    
}

